# Dependencias de Node
node_modules/

# Builds y archivos generados de Angular
dist/
.angular/
.cache/

# Variables de entorno
.env
.env.local
.env.development
.env.production

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Configuración local de VS Code
.vscode/

# Coverage / pruebas
coverage/

# Archivos temporales
tmp/
temp/

# Backups o dumps de PostgreSQL
*.backup
*.dump